* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

body {
  font-family: "Roboto", sans-serif;
  /* background: url("../img/bg-blur.png"); */
  color: #333;
  position: relative;
  background-repeat: repeat-x;
  background-position: 0 0;
  background-color: #fff;
  background-image: url("../img/bg-blur.png");
  background-attachment: fixed;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
  line-height: 2;
}

.main {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 10px;
}

/* .container {
  background: #f2f2f2;
} */

.margin-bottom {
  margin-bottom: 4rem;
}

.padding-top {
  padding-top: 4rem;
}

.padding-bottom {
  padding-bottom: 4rem;
}

/* nav */
header {
  border-bottom: 1px solid #e2e8f0;
  background: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
}

.navbar {
  /* max-width: 1600px; */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.nav-item {
  margin-left: 5rem;
}

.nav-item:hover {
}

.nav-link {
  padding: 0.5rem 1rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: #475569;
}

.nav-link:hover {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  color: #000;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 900;
  color: #333;
  padding: 0.2rem 0.5rem;

  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  border-radius: 10px;
}

.active {
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  border-radius: 10px;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5.5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.responsive {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.responsive .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.responsive .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.responsive .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* Intro section */
.intro {
  width: 100vw;
  height: 700px;
  background: url("../img/intro.jpg") no-repeat center center/cover;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: rgba(51, 51, 51, 0.5);
  z-index: -1;
}

.intro-content {
  color: #fff;
  z-index: 2;
  text-align: center;
  max-width: 650px;
  padding: 10px;
}

.intro-content h1 {
  margin-bottom: 3rem;
}

.intro-content h2 {
  margin-bottom: 2rem;
}

/* Service description */
.service-description {
  display: flex;
  flex-grow: 1;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  /* background: #fff; */
}

.service-description .box {
  width: 250px;
  padding: 10px;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  border-radius: 15px;
  cursor: pointer;
}

.service-description .box:hover {
  background: rgba(0, 0, 0, 0.103);
  border-top: none;
  border-bottom: none;
  border-right: 1px solid #333;
  border-left: 1px solid #333;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
}

.service-description img {
  max-width: 110px;
}

/* Featured section */
.featured,
.overview {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}

.card {
  cursor: pointer;
}

.card .title {
  text-align: center;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out 0s;
}

.card-content {
  position: relative;
  max-width: 448px;
  margin: auto;
  overflow: hidden;
}

.card .card-overlay {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.card-content:hover .card-overlay {
  opacity: 1;
}

.card-img {
  width: 100%;
}

.card-details {
  position: absolute;
  text-align: center;
  padding: 0 1rem;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.card:hover .title {
  opacity: 0;
}

.card:hover .card-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.card-details h3 {
  color: #fff;
  margin-bottom: 0.5rem;
}

.card-details p {
  color: #fff;
}

.fadeIn-bottom {
  top: 80%;
}

.fadeIn-top {
  top: 20%;
}

h2.highlight {
  display: inline-block;
  width: 100%;
  text-align: center;
  text-decoration: underline;
  letter-spacing: 0.2rem;
  padding: 4rem 0;
}

.overview-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin: 0 4rem;
  padding: 4rem;
  background: #fff;
}

.overview img {
  display: block;
}

.overview-content {
  width: fit-content;
  max-width: 45%;
}

.overview-content h3 {
  margin-bottom: 2rem;
}

.overview-content p {
  text-align: justify;
}

.overview-item:nth-child(2) {
  flex-direction: row-reverse;
}

footer {
  background: #333;
  color: #fff;
  width: 100%;
}

.footer-nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  color: #fff;
}

.footer-nav a {
  color: #fff;
}

.footer-nav a:hover {
  color: #beb4ff;
}

.separator {
  color: rgb(131, 131, 131);
  cursor: default;
}

@media only screen and (max-width: 1600px) {
  .overview-content {
    max-width: 100%;
  }
  .overview img {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    background: #fff;
  }
  .margin-bottom {
    margin-bottom: 1rem;
  }

  .padding-top {
    padding-top: 1rem;
  }

  .padding-bottom {
    padding-bottom: 1rem;
  }

  .overview-item {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid rgb(194, 193, 193);
    padding: 15px;
  }

  h3 {
    line-height: normal;
  }
}
