:root {
  --background-color: rgb(0, 0, 0);
  --main-color: rgb(0, 0, 0);
  --second-color: rgb(0, 0, 0);
  --card-color: rgb(0, 0, 0);
  --text-color: rgb(0, 0, 0);
}

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

html {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
  line-height: 2;
}

.main {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 10px;
}

.container {
  background: rgb(242, 242, 242);
}

.margin-bottom {
  margin-bottom: 4rem;
}

.padding-top {
  padding-top: 4rem;
}

.padding-bottom {
  padding-bottom: 4rem;
}

/* nav */
header {
  border-bottom: 1px solid #e2e8f0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: #475569;
}

.nav-link:hover {
  color: #482ff7;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #482ff7;
}

.active {
  border-bottom: 1px solid blue;
  color: blue;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 3.5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.responsive {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.responsive .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.responsive .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.responsive .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* Intro section */
.intro {
  width: 100%;
  height: 700px;
  background: url("../img/intro.jpg") no-repeat center center/cover;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.5);
  z-index: -1;
}

.intro-content {
  color: #fff;
  z-index: 2;
  text-align: center;
  max-width: 650px;
  padding: 10px;
}

.intro-content h1 {
  margin-bottom: 3rem;
}

.intro-content h2 {
  margin-bottom: 2rem;
}

/* Service description */
.service-description {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
}

.service-description .box {
  width: 250px;
  padding: 10px;
}

.service-description .box:hover {
  background: #d83535;
  transition: all 0.3s ease-in-out;
}

.service-description img {
  max-width: 110px;
}

/* Featured section */
.featured,
.overview {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}

.card {
  position: relative;
  cursor: pointer;
  /* min-width: 600px; */
  max-width: 448px;
}

.featured img {
  width: 100%;
}

.card-inside {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px;
  width: 100%;
  background: rgba(0, 0, 0, 0.527);
  color: #fff;
}

.card::after {
  content: "";
  width: 0;
  height: 4px;
  display: block;
  background: #d83535;
  transition: width 0.5s;
  position: absolute;
  bottom: 0;
}

.card:hover::after {
  width: 100%;
}

h2.highlight {
  display: inline-block;
  width: 100%;
  background: #fff;
  text-align: center;
  text-decoration: underline;
  letter-spacing: 0.2rem;
  padding: 4rem 0;
}

.overview-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin: 0 4rem;
  padding: 4rem;
  background: #fff;
}

.overview img {
  display: block;
}

.overview-content {
  /* max-width: 940px; */
  /* min-width: 480px; */
  width: fit-content;
  text-align: justify;
  max-width: 45%;
}

.overview-content h3 {
  /* text-decoration: underline; */
  margin-bottom: 2rem;
}

.overview-item:nth-child(2) {
  flex-direction: row-reverse;
}

footer {
  background: #333;
  color: #fff;
}

.footer-nav ul {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  color: #fff;
}

.footer-nav a {
  color: #fff;
}

.footer-nav a:hover {
  color: #beb4ff;
}

.separator {
  color: rgb(131, 131, 131);
  cursor: default;
}

@media only screen and (max-width: 1600px) {
  .overview-content {
    max-width: 100%;
  }
  .overview img {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    background: #fff;
    margin: 0 auto;
  }
  .margin-bottom {
    margin-bottom: 1rem;
  }

  .padding-top {
    padding-top: 1rem;
  }

  .padding-bottom {
    padding-bottom: 1rem;
  }

  .overview-item {
    margin: 0;
    padding: 0;
  }
}
